<div class="no_questions">
  <i class="fa fa-question-circle disclaimer" aria-hidden="true"></i>
  <b>No questions have been asked yet!</b>
  <p><%= link_to "Ask something!", new_question_path %></p>
</div>
