// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Some styling for Answers */

.answer_well {
  background-color: #f1f1f1;
  border: 1px solid #c1c1c1;
  border-top: none;
}

.answer_body_inner {
  margin: 15px 0px;
}

textarea.answer_content {
  min-width: 100%;
  min-width: 100%;
}

input.btn-answer {
  vertical-align: top;
}

.question_tag_list {
  width: 50%;
  display: inline-block;
}

.accept {
  display: inline-block;
  float: right;
}

input#question_tag_list {
  width: 90%;
  display: inline-block;
}

.answer_editor {
  display: inline-block;
  width: 80%;
  padding: 10px;
}

.answer_body_inner img {
  width: 100%;
}

#md-editor img {
      width: 100%;
}

.answer_actions {
  display: inline-block;
  float: right;
}

.answer_actions a, .question_actions a {
  color: #6b6b6b;
}

.answer_body {
  padding: 10px;
  border-bottom: 1px solid #b1b1b1;
}

.answer_blocked {
  text-align: center;
  background: #cecece;
  padding: 10px;
  border-radius: 3px;
}

.new_answer {
  padding-top: 10px;
  padding-left: 10px;
}
