/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require md_simple_editor
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

#user_menu {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.text_editor {
  display: inline-block;
  padding: 10px;
}

.actions {
  padding: 10px 15px 5px 20px;
  width: 97%;
}

.navbar {
      border-bottom: 1px solid #bfbfbf;
}

.disclaimer {
  font-size: 100px;
  display: block;
}

.no_questions {
  text-align: center;
  color: #929292;
}

.open > .dropdown-menu {
    display: block;
    padding: 10px;
}


/* Love for the sign-in form */
#session_form {
  width: 60%;
  position: relative;
  display: block;
  border: 1px solid #afafaf;
  padding: 10px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.user_form {
  border: 1px solid #939393;
  border-radius: 3px;
}

#user_properties {
  border-right: 1px solid #b0aeae;
  margin-bottom: 20px;
}

#cancel_account form.button_to, #cancel_account h3 {
  text-align: center;
}

.user_profile {
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-radius: 5px;
}

.details {
  text-align: center;
}

.details img {
  border-radius: 15px;
}

.contributions {
  border: 1px solid #b7b6b6;
  border-radius: 3px;
}

.contributions .nav-tabs {
  background: #f3f3f3;
}

ul.user_question_list, ul.user_answer_list {
  padding: 10px;
  text-align: left;
}

li.title {
  list-style: none;
}

.listing {
  border-bottom: 1px dotted #c2c2c2;
  margin: 10px;
}

.contributions .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: transparent;
  border-left-color: transparent;
}

quote {
  margin-left: 10px;
  padding-left: 4px;
  border-left: 4px solid #969696;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}


h4.listing {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 0;
}
