.department_headshot {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.department_headshot img {
  border-radius: 8em;
}

.department_entry h4 {
  display: inline-block;
  vertical-align: middle;
}
