<div class="user_form col-md-10">
  <h2 class="heading">User Account</h2>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
      <i class="fa fa-id-card" aria-hidden="true">
      </i> Profile </a></li>

    <li role="presentation">
      <a href="#account" aria-controls="account" role="tab" data-toggle="tab">
      <i class="fa fa-user-circle" aria-hidden="true">
      </i> Account </a></li>

  </ul>


<!--Tab Panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="profile">
        <ul class="profile">
          <p>Profile fields go here.</p>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="account">
        <ul class="edit_account">
            <%= render 'edit-account' %>
        </ul>
      </div>

    </div>
</div>
